@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-base: #ffffff
        --color-text-muted: #F2BBBB
        --color-fill: #A6242F
        --color-fil-dark: #8C1616
    }
}