/*  @keyframes drawLine {
    from {
        stroke-dasharray: 0, 100;
    }
    to {
        stroke-dasharray: 100, 0;
    }
}

.animated-line {
    stroke-dasharray: 1000;
    animation: drawLine 2s ease forwards;
}
*/

